.form-container-2 {
    border-left: 10px solid #fcd686;
    background-color: #fcd686;
    border-radius: 25px;
}

.form-container {
    border-left: 10px solid #f7bb3c;
    padding: 40px;
    border-radius: 25px;
    background-color: white;
}
