/* Common CSS */
.blue-text {
    color: #535768;
}

.blue-bg {
    background-color: #0D0E40;
}

.hide {
    visibility: hidden;
}

/* Navbar CSS */
.nav-logo {
    height: 42px;
}

.navbar .list-group-item {
    cursor: pointer;
}

.navbar .list-group-item:hover {
    background-color: #E5F4FF !important;
}

/* Work Without CSS */
.work-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #0D0E40;
}

/* Brand Logos CSS */
.brand-logo-container .row .col {
    text-align: center;
}

.brand-logo {
    max-height: 69px;
    max-width: 244px;
}

/* Free Trial Banner CSS */
.free-trial-container {
    background-color: #2B2C5D;
    padding: 100px 0;
}

.get-started-btn {
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    text-transform: none;
    position: relative;
    -webkit-appearance: button;
    border-radius: 40px;
    border: none;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 17px;
    overflow: hidden;
    background-color: #fff;
    color: #0F1048;
    min-width: 130px;
    transition: 0.1s ease background-color;
    font-size: 16px;
    padding: 16px 48px;
    width: 210px;
}

.ladda-label {
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 17px;
    color: #0F1048;
    font-size: 16px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    position: relative;
    display: inline-block;
    transition: none !important;
    z-index: 0;
}

.signup-arrow-wrapper {
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 17px;
    color: #0F1048;
    font-size: 16px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    padding-left: 10px;
}

/* Integrate CSS */
.integrate .icons {
    --w: clamp(50px, 10vmin, 100px); /* don't let the icons get too big or too small */
    --n: 15; /* number of icons in each group (a group plus a copy of the group form a line) */
    --m: calc(var(--w) / 20); /* margin on each icon */
    /* for a totally general solution when there aren't many icons would need to adjust margin on each icon so one group at least fills width of viewport */
    position: fixed;
    bottom: 0;
    z-index: 99999;
    width: 50px;
}

.integrate .line {
    white-space: nowrap;
    animation: scroll 20s infinite linear;
    position: relative;
    --y: 0%;
}

.integrate .line:nth-child(2) {
    left: calc((var(--w) / -2) - var(--m)); /* offset the second line */
    --y: -25%;
}

.integrate .line .icon {
    width: 120px;
    height: auto;
    margin: 10px;
    display: inline-block;
    position: relative;
}

@keyframes scroll {
    0% {
      transform: translateX(-50%) translateY(var(--y));
    }
    100% {
      transform: translateX(0%) translateY(var(--y));
    }
}

/* Footer CSS */
.footer-logo {
    width: 120px;
}

.footer-brand-logo {
    width: 30px;
}

footer .dropdown-menu {
    width: 400px !important;
    border: none;
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {
    main, footer {
      text-align: center;
    }

    .work-without {
        text-align: start !important;
    }

    .work-without > div {
        text-align: start !important;
    }

    body > main > div.work-without.container-fluid.py-5.mb-5 > div.container.mb-5 {
        padding-left: 0;
        
    }
}